* {
  box-sizing: border-box;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 30%;

}

.card {
  margin: 1rem;
  border: 1px solid gray;

}
.card h1 {
  display: flex;
}

.card p {
  text-transform: capitalize;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}
