@import url("https://fonts.googleapis.com/css?family=Acme|Roboto|Arvo");
* {
  box-sizing: border-box;
}

body {
  background-color: #D3EBFA;
  margin: 0;
}

#logo img {
  vertical-align: middle;
  height: 75px;
  width: 75px;
  background-color: black;
  border: 2px solid white;
  border-radius: 5px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  background-color: #212342;
  display: inline-flex;
  width: 100%;
}

.topnav #myLinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 85%;
  text-transform: capitalize;
  font-family: "Allerta Stencil", sans-serif;
  padding-right: 4rem;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: inline-flex;
  justify-content: center;
  margin-left: 4rem;
  flex-grow: 0;
  letter-spacing: 1px;
  font-weight: bold;
  transition: all 0.2s ease;
}

.topnav a.icon {
  background: black;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 3rem;
  width: 3rem;
  text-align: center;
  vertical-align: middle;
  padding-top: 2rem;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 3px;
}

.landing {
  background: url(img/landing.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: auto;
  top: 0;
  display: table;
}

.title {
  margin: auto;
  width: 100%;
}
.title .content {
  text-align: center;
  margin: auto;
}
.title .content h1 {
  text-align: center;
  margin-top: 12rem;
  font-size: 500%;
  font-family: "Acme", sans-serif;
  text-shadow: 3px 3px 15px white;
  animation-name: titleAnim;
  animation-duration: 4s;
}

@keyframes titleAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.iconBar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.iconBar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.4s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.iconBar a:hover {
  background-color: #ea274e;
}

.github, .youtube {
  background: black;
}

.linkedin {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background: black;
}

.topLink {
  border-top: 1px solid white;
  background: black;
  font-family: "Allerta Stencil", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

#intro {
  margin-top: 3rem;
}

.introWrapper {
  display: flex;
  margin: 6rem;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

#top {
  display: flex;
  margin: 2rem 0rem 2rem 6rem;
  justify-content: flex-start;
  width: 30%;
}

#controlWrapper {
  display: flex;
  margin: 2rem;
  justify-content: flex-end;
  flex-direction: column;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
#controlWrapper h1 {
  font-family: "Acme", sans-serif;
  text-transform: capitalize;
  font-size: 230%;
  margin-bottom: 0;
  text-shadow: 3px 3px 5px white;
}

#btnWrapper {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}
#btnWrapper .buttonContainer {
  margin: 1rem;
}
#btnWrapper .buttonContainer .buttons {
  padding: 1rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: white;
  letter-spacing: 0.2em;
  font-weight: bolder;
  background-color: #ea274e;
  border: 1px solid transparent;
  transition: all 0.1s ease;
}
#btnWrapper .buttonContainer .buttons:hover {
  cursor: pointer;
  transform: translate3D(0, -2px, 0);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.9);
  border: 1px solid black;
}

#searchCountries {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}
#searchCountries input {
  height: 3rem;
  width: 46%;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 10px;
  font-size: 15px;
}
#searchCountries input:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
}

.introWrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Arvo";
}
.introWrapper .describe {
  margin: 1rem;
  text-indent: 2rem;
}
.introWrapper .describe h1 {
  margin-bottom: 0;
  margin-top: 0;
}
.introWrapper .describe p {
  align-items: flex-start;
  background: rgba(255, 255, 255, 0.7);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
  margin-top: 0;
}
.introWrapper .describe p a {
  display: inline-block;
  text-indent: 0;
  font-weight: bold;
}
.introWrapper .describe a:hover {
  color: blue;
  text-decoration: underline;
}

#describeApp {
  display: flex;
  width: 100%;
}
#describeApp #secondLogo {
  height: auto;
  width: 450px;
  align-items: flex-end;
  margin: 0 2rem 2rem 0;
  padding-top: 6rem;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 0;
}

a {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  flex-grow: 2;
}

.card {
  margin: 1rem;
  border: 3px solid #fff;
  border-radius: 1.1rem;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  flex-grow: 2;
  transition: all 0.3s ease;
  text-align: center;
}
.card h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(120deg, #77dd77 0%, #a6c1ee 100%);
  padding: 1rem;
  margin-top: 0rem;
  border-radius: 0.9rem 0.9rem 0rem 0rem;
  font-size: 2rem;
  font-family: "Acme", sans-serif;
}
.card h3 {
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}
.card p {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  padding: 0 2rem;
  font-weight: bold;
}

footer {
  text-align: center;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  background-color: black;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
}

.card:nth-child(2n) h1 {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.card:nth-child(3n) h1 {
  background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

.card:nth-child(4n) h1 {
  background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
}

.card:hover {
  box-shadow: 4px 8px 45px rgba(0, 0, 0, 0.6);
  transform: translate3D(0, -2px, 0);
  border: 3px solid black;
}

@media only screen and (min-width: 300px) and (max-width: 700px) {
  .topnav {
    overflow: hidden;
    background-color: #212342;
    position: relative;
  }

  #logo {
    font-size: 350%;
    border-right: none;
  }

  .topnav #myLinks {
    display: none;
  }

  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 4vw;
    display: block;
    margin-left: 0;
  }

  .topnav a.icon {
    background: #212342;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 4rem;
    vertical-align: middle;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .active {
    background-color: black;
    color: white;
  }

  .title .content h1 {
    font-size: 250%;
  }

  .iconBar {
    display: none;
  }

  #top {
    width: auto;
    margin: auto;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
  }
  #top img {
    width: 100%;
    height: auto;
    padding: 0 2rem;
  }

  #btnWrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  #searchCountries input {
    width: 100%;
  }

  .card {
    flex: 1 1 calc(50% - 2rem);
  }

  #describeApp {
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
  #describeApp #secondLogo {
    display: flex;
    height: 200px;
    width: auto;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
