@import url('https://fonts.googleapis.com/css?family=Acme|Roboto|Arvo');


$primary-color: #D3EBFA;
$heading-font: 'Acme', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$paragraph-font: 'Arvo';


* {
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
}

#logo img{
  vertical-align: middle;
  height: 75px;
  width: 75px;
  background-color: black;
  border-radius: 5px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  background-color:gray;
  display: inline-flex;
  width: 100%;
}

.topnav #myLinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 85%;
  text-transform: uppercase;
  font-family: 'Allerta Stencil', sans-serif;
  padding-right: 4rem;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: inline-flex;
  justify-content: center;
  margin-left: 4rem;
  flex-grow: 0;
  letter-spacing: 1px;
}

.topnav a.icon {
  background: black;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 3rem;
  width: 3rem;
  text-align: center;
  vertical-align: middle;
  padding-top: 2rem;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


#introWrapper {
  display: flex;
  margin: 6rem;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;



}

#top {
  display: flex;
  margin: 2rem 0rem 2rem 6rem;
  justify-content: flex-start;
  width: 30%;
}

#controlWrapper {
  display: flex;
  margin: 2rem;
  justify-content: flex-end;
  flex-direction: column;
  text-align: center;
  font-family: $secondary-font;

h1 {
  font-family: $heading-font;
  text-transform: capitalize;
  font-size: 230%;
  margin-bottom: 0;

  text-shadow: 3px 3px 5px white;


}

}





#btnWrapper {
  display: inline-flex;
  justify-content: center;
  width: 100%;

  .buttonContainer {
    margin: 1rem;


  .buttons {
    padding: 1rem;
    border-radius: .5rem;
    text-transform: uppercase;
    font-family: $secondary-font;
    color: white;
    letter-spacing: 0.2em;
    font-weight: bolder;
    background-color: #ea274e;
    border: 1px solid transparent;

    }

  .buttons:hover{
    cursor: pointer;
    transform: translate3D(0, -2px, 0);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.9);
    border: 1px solid black;
   }

  }
}

#searchCountries {
  width: 100%;
  display: inline-flex;
  justify-content: center;

  input {
    height: 3rem;
    width: 46%;
    border: 1px solid black;
    border-radius: .5rem;
    padding: 10px;
    font-size: 15px;
    }

    input:hover {
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
    }

  }

#introWrapper {

  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $paragraph-font;


  .describe {
    margin: 1rem;
    text-indent: 2rem;

    h1 {
      margin-bottom: 0;
    }

    p {
      align-items: flex-start;
      background: rgba(255, 255, 255, 0.7);
      padding: 1rem;
      border-radius: 1rem;
      box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
      margin-top: 0;

      a {
        display: inline-block;
        text-indent: 0;
        font-weight: bold;
      }
    }

     a:hover {
       color: blue;
       text-decoration: underline;
     }

  }
}

#describeApp {
   display: flex;
   width: 100%;


   #secondLogo {
       height:auto;
       width: 450px;
       align-items: flex-end;
       margin: 0 2rem 2rem 0;
       padding-top: 6rem;
   }

}


#root {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 0;
}

a {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
  text-decoration: none;
  color: black;

}

.container {
  display: flex;
  flex-grow: 2;
}


.card {
    margin: 1rem;
    border: 3px solid #fff;
    border-radius: 1.1rem;
    font-family: $secondary-font;
    background-color: #fff;


  h1 {
      display: flex;
      justify-content: center;
      text-align: center;
      background-image: linear-gradient(120deg, #77dd77 0%, #a6c1ee 100%);
      padding: 1rem;
      margin-top: 0rem;
      border-radius: .9rem .9rem 0rem 0rem;
      font-size: 2rem;
      font-family: $heading-font;
     }

  h3 {
     display: flex;
     justify-content: center;
     padding: 0 2rem;
    }

  p {
       text-transform: capitalize;
       display: flex;
       justify-content: center;
       padding: 0 2rem;
       font-weight: bold;
     }
}

footer {
  text-align: center;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  background-color: black;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
}




.card:nth-child(2n) h1 {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.card:nth-child(4n) h1 {
  background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

.card:nth-child(5n) h1 {
  background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
}

.card:hover {
  box-shadow: 4px 8px 45px rgba(0, 0, 0, .6);
  transform: translate3D(0, -2px, 0);
  border: 3px solid black;
}

@media only screen and (min-width: 300px) and (max-width: 700px) {

  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }

  #logo {
  font-size: 350%;
  border-right: none;
  }

  .topnav #myLinks {
    display: none;
  }

  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 4vw;
    display: block;
    margin-left: 0;
  }

  .topnav a.icon {
    background: #333;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 4rem;
    vertical-align: middle;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }


  .active {
    background-color: black;
    color: white;
  }

  #top {
    width: auto;
    margin: auto;
    padding-top: 4rem;
  }

  #btnWrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  #searchCountries {

    input {
      width: 100%;
    }
  }

  .card {
    flex: 1 1 calc(50% - 2rem);
  }

  #describeApp {
     display: flex;
     width: auto;
     flex-direction: column;
     justify-content: center;
     margin: auto;

     #secondLogo {
         display: flex;
         height:200px;
         width: auto;
         align-items: center;
         justify-content: center;
         padding-top: 0;
         margin: auto;
     }

  }
}
