@import url('https://fonts.googleapis.com/css?family=Acme|Roboto');


$primary-color: #D3EBFA;
$heading-font: 'Acme', sans-serif;
$secondary-font: 'Roboto', sans-serif;


* {
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
}

.searchContainer {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

#btnWrapper {
  display: inline-flex;
  justify-content: center;
  width: 100%;

  .buttonContainer {
    margin: 1rem;

  .buttons {
    padding: 1rem;
    border-radius: .5rem;
    text-transform: uppercase;
    font-family: $secondary-font;
    }

  .buttons:hover{
    cursor: pointer;
    transform: translate3D(0, -3px, 0);
   }
  }
}


#root {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 0;
}

a {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
  text-decoration: none;
  color: black;

}

.container {
  display: flex;
  flex-grow: 2;
}


.card {
    margin: 1rem;
    border: 3px solid black;
    border-radius: 1.1rem;
    font-family: $secondary-font;
    background-color: #fff;

  h1 {
      display: flex;
      justify-content: center;
      text-align: center;
      background-image: linear-gradient(120deg, #77dd77 0%, #a6c1ee 100%);
      padding: 1rem;
      margin-top: 0rem;
      border-radius: .9rem .9rem 0rem 0rem;
      font-size: 2rem;
      font-family: $heading-font;
     }

  h3 {
     display: flex;
     justify-content: center;
     padding: 0 2rem;
    }

  p {
       text-transform: capitalize;
       display: flex;
       justify-content: center;
       padding: 0 2rem;
       font-weight: bold;
     }
}


.card:nth-child(2n) h1 {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.card:nth-child(4n) h1 {
  background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

.card:nth-child(5n) h1 {
  background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
}

.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .5);
  transform: translate3D(0, -2px, 0);
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}
